@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  }
  body{
    font-family: Roboto;
  }
  header{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }  
  .hero-section {
    height: 410px;
  }
  .hero-head {
    font-family: Roboto;
    font-size: 1em;
    font-weight: 600;
    color: black;
    line-height: 60px;
  }
  
  .hero-sub-head {
    font-family: Roboto;
    font-size: 1.3em;
    font-weight: 500;
    color: black;
  }
  .hero-text {
    font-family: Roboto;
    font-size: 1.3em;
    font-weight: 500;
    color: black;  
  }
  @media (max-width: 576px) {
    .hero-head {
      font-size: 1.6em;
      line-height: 45px;
    }
  
    .hero-sub-head {
      font-size: 1.1em;
    }
  
    .hero-text {
      font-size: 14px;
      line-height: 25px;
    }
  }

  .pt-7{
    padding-top :6rem!important;
  }
  .hero-head_ts {
    font-family: "Space Grotesk";
    font-size: 2.5em;
    font-weight: 800;
    color: rgb(53, 53, 53);
  }
  
  .hero-subhead_ts {
    font-family: "Roboto";
    font-size: 2.1em;
    font-weight: 800;
    color: #357e79;
  }
  
  .hero_img_mod {
    width: 400px;
  }
  
  .opacity {
    opacity: 0.8;
  }
  
  .clients {
    background-color: black;
  }
  
  .clients_ts {
    font-family: "Roboto";
    font-size: 1.4em;
    font-weight: 500;
    color: rgb(114, 114, 114);
  }
  
  .logo-size {
    width: 8em;
  }
  
  .industry-exp_head {
    font-family: "Roboto";
    font-size: 2.6em;
    font-weight: 600;
    color: rgb(65, 65, 65);
  }
  
  .industry-exp_subhead {
    font-family: "Dongle";
    font-size: 2em;
    font-weight: 400;
    color: rgb(87, 87, 87);
    margin-top: -20px;
  }
  
  .industry-exp_ts {
    font-family: Dongle;
    font-weight: 500;
    font-size: 1.6em;
  }
  
  .section2_head {
    font-family: "Roboto";
    font-size: 2.4em;
    font-weight: 800;
    color: black;
  }
  
  .section2_ts {
    font-family: "Roboto";
    font-size: 1em;
    font-weight: 600;
    color: rgb(73, 73, 73);
    line-height: 38px;
  }  
    
  .case_study_btn {
    font-family: "Roboto";
    font-size: 1.2em;
    font-weight: 500;
    background-color: rgb(75, 75, 75);
    color: black;
    border-radius: 2px;
  }
  
  .case_study_btn:hover {
    background-color: rgb(37, 37, 37);
  }
  
  .controller_mod {
    border: 0px;
    background-color: rgba(245, 245, 245, 0);
    opacity: 0.6;
  }
  
  .controller_mod:hover {
    border: 0px;
    background-color: rgba(245, 245, 245, 0);
    color: rgba(34, 0, 158, 0.849);
    opacity: 0.9;
  }
  
  .list-group {
    background-color: transparent !important;
    border: 0px !important;
  }
  
  .list-group-item {
    background-color: transparent !important;
    border: 0px !important;
  }
  
  .hero-text_ts {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    color: rgb(77, 77, 77);
    line-height: 34px;
  }
  
  @media (max-width: 992px) {
    .disp_sm_hide_hero {
      display: none;
    }
    .hero-head_ts {
      font-size: 2.8em;
    }
    .hero-subhead_ts {
      font-size: 2.8em;
    }
  }
  
  /***** Greater than Medium ******/
  @media (min-width: 768px) {
    .disp_sm_show {
      display: none;
    }
  }
  
  @media (min-width: 992px) {
    .disp_sm_show_hero {
      display: none;
    }
  }
  
  /***** Only Medium ******/
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .why_text_hide {
      display: none;
    }
  }
  
  @media (min-width: 578px) and (max-width: 777px) {
    .hero-section {
        height: 475px;
      }
  }  
  /***** Only Large ******/
  
  @media (min-width: 991.98px) and (max-width: 1200px) {
    .why_text_hide {
      display: none;
    }
  }
  
  /***** Extra large and greater ******/
  @media (min-width: 1200px) {
    .why_text_hide_top {
      display: none;
    }
  }
  .accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: #e7f1ff00!important;
    box-shadow: inset 0 0px 0 rgb(0 0 0 / 13%)!important;
  }
  .accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe00!important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }  
  .btn_close {
    background-color: transparent;
    border: 0px;
    font-size: 34px;
}  
  input[type="checkbox"] {
    display: none!important;
  }
  
  label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }
  
  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  :checked + label {
    border-color: #ddd;
  }
  
  :checked + label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
  }
  
  :checked + label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
  }  
  .highlight{
    font-weight: 700;
    font-size: 32.5px;
    color: #44918b;
  }
  .choose-template-background{
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;    
  }
  .chartpadding{
    padding-bottom: 15px;
  }
  .icon-circle{
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;    
  }
  #content-wrapper{
    background-color: #dfdcdc;    
  }
  .timeline .timeline-item {
    display: flex;
    align-items: flex-start;
}
  .timeline .timeline-item .timeline-item-marker {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;  
  }
  .timeline.timeline-xs .timeline-item .timeline-item-marker {
    transform: translateX(0.5625rem);
}
.timeline.timeline-xs .timeline-item .timeline-item-marker .timeline-item-marker-text {
  width: 3rem;
  font-size: 0.7rem;
}

@media (min-width: 576px){
.timeline .timeline-item .timeline-item-marker .timeline-item-marker-text {
  margin-right: 0.5rem;
  margin-bottom: 0;
}
}
.timeline .timeline-item .timeline-item-marker .timeline-item-marker-text {
  font-size: 0.875rem;
  width: 6rem;
  color: #a7aeb8;
  text-align: center;
  margin-bottom: 0.5rem;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.timeline.timeline-xs .timeline-item .timeline-item-marker .timeline-item-marker-indicator {
  height: 0.875rem;
  width: 0.875rem;
  font-size: 0.875rem;
  border: 0.125rem solid #fff;
  margin-top: -0.125rem;
}

.timeline .timeline-item .timeline-item-marker .timeline-item-marker-indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  background-color: #076afe;
  border-radius: 100%;
}
.bg-blue {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-green-rgb), var(--bs-bg-opacity)) !important;
}
.timeline.timeline-xs .timeline-item .timeline-item-content {
  font-size: 0.875rem;
  padding-top: 0;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}

@media (min-width: 576px){
.timeline .timeline-item .timeline-item-content {
  padding-top: 0.75rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  border-left: solid 0.25rem #f2f6fc;
}
}
.timeline .timeline-item .timeline-item-content {
  padding-top: 0;
  padding-bottom: 2rem;
  padding-left: 1rem;
  width: 100%;
}
.flowchart-example-container {
  width: 100%;
  height: 800px;
  background: white;
  border: 1px solid #BBB;
  margin-bottom: 10px;
  text-align: justify;
}
.create-button{
  width: 200px;
}